{% load static %}
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 shadow mt-4 p-2 mx-auto">
                <h2 align="center">Login</h2>
                {% if errmsg %}
                       <div class="alert alert-danger">
                            {{errmsg}}
                       </div>
                {% endif %}
                <form method="POST" action="/login">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="input1" class="form-label"><strong>Username:</strong></label>
                        <input type="email" name="uname" class="form-control" id="input1" placeholder="Enter Username">
                    </div><!-- username end-->
                    <div class="mb-3">
                        <label for="input2" class="form-label"><strong>Password:</strong></label>
                        <input type="password" name="upass" class="form-control" id="input2" placeholder="Enter Password">
                    </div><!-- password end-->
                    <div class="mb-3">
                        <input type="submit" class="btn btn-danger" value="Login" />
                        Not User?<a href="/register" class="anchor">Register</a>
                    </div><!-- submit button end-->
                </form>
            </div>
        </div>
    </div>   
    <script src="{% static 'assets/js/bootstrap.min.js' %}" ></script>
</body>
</html>